*
	box-sizing: border-box

html, body
	height: 100%
	margin: 0
	text-size-adjust: none
	text-size-adjust: 100%
	touch-action: manipulation

	
//html
//	font-family: sans-serif	

//address 
//  font-style: normal

a
	text-decoration: none
	color: inherit

a:active, a:hover 
	outline: 0

button, input, select, textarea
	color: inherit
	font: inherit
	margin: 0

button 
	overflow: visible
	text-transform: none
	background-color: transparent
	border: none

button, button:active, button:focus 
	outline: none

//button[disabled], html input[disabled]
//	cursor: default

//input 
//	line-height: normal

//button, input[type="button"], input[type="reset"], input[type="submit"] 
//	cursor: pointer

//select 
//	text-transform: none

//fieldset, img 
//	border: none

//ol, ul 
//	list-style: none
//	margin-left: 0
//	padding-left: 0

//table 
//	border-collapse: collapse
//	border-spacing: 0

//td, th 
//	padding: 0

img, embed, object, video 
	max-width: 100%

//img 
//	vertical-align: bottom
//	border: none
//	display: block
//	height: auto
//	width: auto



//specific classes

//.video 
//	position: relative
//	padding-bottom: 56.25%
//	height: 0
//	overflow: hidden

//.video iframe, .video object, .video embed 
//	position: absolute
//	top: 0
//	left: 0
//	width: 100%
//	heidht: 100%

//.clearfix:after 
//	content: ""
//	display: table
//	clear: both

//.ellipsis
//	white-space: nowrap
//	overflow: hidden
//	text-overflow: ellipsis

//.hidden 
//	display: none

//.visible 
//	display: block

//.invisible:not(:hover)
//	opacity: 0
//	transition: 0.2s opacity


